---
import BaseLayout from '../layouts/BaseLayout.astro';
import Disney from '../components/Disney.astro';

import '../styles/global.css';

---
<BaseLayout>


    <header class="masthead">
      <h1 class="site-title">Disney Characters</h1>
    </header>

    
<main id="content" class="main-area wrapper">
  <Disney>
  </Disney>
</main>

</BaseLayout>

