---
// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://jsonplaceholder.typicode.com/users';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
		<link href="https://api.fontshare.com/v2/css?f[]=supreme@300,500,800&display=swap" rel="stylesheet"> 

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Disney Characters</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					<main class="wrapper">
  <nav class="grid">
    <ul class="character-list">
      <!-- Cards load here -->
    </ul>
  </nav>
  
  <!-- Spinner -->
<div class="spinner">
  <img src="https://i.gifer.com/ZZ5H.gif" alt="Loading..." width="80">
</div>

<!-- Load More Button -->
<div class="load-more-container">
  <button id="load-more" class="load-more-btn">
    Load More Characters
  </button>
</div>

</main>
		  


	</body>
</html>
